.sectionNarrow1 {
    background: lightblue url("https://images.unsplash.com/photo-1522542168234-d43ea2a3dc9b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=81ff0be1a2ca139054a7969598baed30&auto=format&fit=crop&w=2702&q=80") no-repeat fixed center;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom:0%;
    padding-bottom:0%;
    z-index: 100;
}
.row{
    justify-content: center;
    align-items: center;  
    
}
.col-md-4{
    display:flex;
    justify-content: center;
    align-items: center;
    padding-bottom:25%;
}
.attractionBlock{
    background:rgb(240,240,230,.7) ;
    padding: 3em;
    justify-content: center;
    margin-top:20%;
}
.Contenttitle{
    display:flex;
    align-items: center;
}
.attractionBlock a{
    color:black;
    text-decoration: none;
}
.attractionBlock a:hover,
.attractionBlock a:active{
    color: #fa923f;
}
.spacer{
    margin-bottom: 4em;
}