#twitterIcon{
  color: rgb(0,172,237);
}
#githubIcon{
   color: rgb(102,43,129);
}
#linkedinIcon{
  color: rgb(0,127,178);
}
#facebookIcon{
   color: rgb(59,89,163);
}

@media only screen and (max-width: 600px){
  @media screen and (min-width: 322){
  .pageOne {
    margin: 0%;
    padding: 0%;
    width: 100%;
  }
}
}
@media only screen and (max-width: 321px){
  .pageOne {
    width: 321px;
    a {
      width: 321px;
    }
  }
  .block{
    width: 321px;
  }
  .btnlistTextCenter{
    width: 321px;
  }
  .fadeBlock2{
    width: 321px;
  }
  .fadeBlock1{
    width: 321px;
  }
  .btn-default{
    width: 321px;
  }
  .j1{
    width: 321px;
  }
  .j1{
    width: 321px;
  }
}

.block{
  opacity: 7;
  padding: .2em;
  width:50%;
  margin-top: -0em;
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  border-radius:2.5%;
  z-index: 150;
}
.j1{
    text-align: center;
    color:rgb(220,220,220	);
    margin-top:25%;
    z-index: 150;
}
.j3{
    text-align: center;
    color:rgb(220,220,220	);
    z-index: 150;
}
h1{
  padding:0;
  margin-top:0px;
  font-size:4.5em;
  padding-top: 0%;
}
.btnlistTextCenter{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.btnlistTextCenter a:hover,
.btnlistTextCenter a:active{
  color: #fa923f;
  transition: 2s;
}
.pageOne{
    position: absolute;
    top:0;
    left: 0;
    height:100%;
    width: 100%;
    background: url('https://images.unsplash.com/photo-1529753944348-a67f54c92321?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=14223dae43d715b8a26d17911dee7de5&auto=format&fit=crop&w=2222&q=80');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom:30%;
    align-items: center;
    margin-top:-20%;
    z-index: 97;
    a{
      color:rgb(220,220,220	);
      text-decoration: none;
      font-size: 3vw;
    }

.fadeBlock2{
  transition: 2s;
  z-index: 97;
  margin: 10%;
  .btn-default a{
    display:flex;
    justify-content: center;
    opacity:.8;
    border-color: black;
    text-decoration: none;
    color:rgb(220,220,220	);
    font-size:1.65em;
    margin-top:-1%;
    margin-right: 1em;
    .btn-default a:hover,
    .btn-default a:active{
      color: #fa923f;
      transition: 2s;
      }
      .btnlistTextCenter{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .btnlistTextCenter a:hover,
    .btnlistTextCenter a:active{
      color: #fa923f;
      transition: 2s;
    }
  }}}
.pageOne .fadeBlock1{
    position: absolute;
    top:50%;
    left: 50%;
    margin-top: -12em;
    padding:10px;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 450px;
    background: rgba(0,0,0,0.0);
    background-position: center;
    z-index: 97;
    transition: 2s;
}
.pageOne .fadeBlock1:hover{
    box-shadow: 0 60px 60px rgba(0,0,0,0.5);
    background-color: rgba(0,0,0,0.5);
}

/* first page*/

