#twitterIcon{
  color: rgb(0,172,237)
}
#githubIcon{
   color: rgb(102,43,129)
}
#linkedinIcon{
  color: rgb(0,127,178)
}
#facebookIcon{
   color: rgb(59,89,163)
}

.block{
  background-color:black;
  opacity:.8;
  padding: .2em;
  width:50%;
  margin-top: auto;
  margin-right: auto;
  margin-left:auto;
  align-items: center;
  border-radius:2.5%
}
.j1{
    text-align: center;
    color:rgb(220,220,220	);
    margin-top:55%;
}
.j3{
    text-align: center;
    color:rgb(220,220,220	);
}
h1{
  padding:0;
  margin-top:0px;
  font-size:4.5em;
  padding-top: 0%;
}
.btn-default{
  Background-color: rgb(0,0,0,0.3);
  display:flex;
  opacity:.8;
  Border-color: black;
  text-decoration: none;
  color:rgb(220,220,220	);
  font-size:1.65em;
  margin-top:1%;
  margin-right: 1em;
}
.btn-default a:hover,
.btn-default a:active{
  color: #fa923f;
}
.btnlistTextCenter{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.btnlistTextCenter a:hover,
.btnlistTextCenter a:active{
  color: #fa923f;
}
.pageOne{
    background: url('https://images.unsplash.com/photo-1518128160709-c575457dafa5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=98c513c67fdaf3f85d97358561a4d027&auto=format&fit=crop&w=1824&q=80');
    Background-size:cover;
    padding-bottom:100%;
    align-items: center;
    margin-top:-10%;
    height:100%;
    z-index: 100;
}